
doc-parser-vision-api/.env
doc-parser-vision-api/.idea/inspectionProfiles/profiles_settings.xml
doc-parser-vision-api/.idea/misc.xml
doc-parser-vision-api/.idea/doc-parser-vision-api.iml
doc-parser-vision-api/.idea/inspectionProfiles/Project_Default.xml
doc-parser-vision-api/.idea/modules.xml
doc-parser-vision-api/.idea/workspace.xml
doc-parser-vision-api/.vscode/settings.json
doc-parser-vision-api/__pycache__/api_response.cpython-310.pyc
doc-parser-vision-api/personal-projects-408314-8305ce268b59.json
